<p>counter works</p>

<p>
    <button (click)="decrement()">Decrement</button>
    Count: {{count}}
    <button (click)="increment()">Increment</button>
</p>

<br/>
<input type="text " #addStuff>
<button (click)="addItem(addStuff.value)">Add item to parent list</button>