
<h1 [innerText]="title"></h1>
<h3>home works</h3>
<button [disabled]="isDisabled">I'm Disabled</button>
<p [textContent]="evilText" *ngIf="EvilText"></p>
<div [className]="'red size20'">hello here</div>
<div [className]="cssStringVar">hi here i am populated from the component</div>
<div [className]="getClass()"> generating from a function</div>
conditional (tenary) Operator
<button [style.backgroundColor]="status=='error' ? 'red': 'blue'" >hi broh conditional operator</button>


<div [class.red]="isDisabled" >hi broh conditional operator</div>
style Binding 
<button [style.border]="'2px solid blue'">hi mr howfr</button>

<button (click)="clickMe(); clickCount1=clickCount">Click Me</button>
<p>you have clicked {{clickCount}} </p>
<p>you have also clicked {{clickCount1}} </p>

<p>Event payload</p>
<input (input)="handleInput($event)">
<p>You have entered {{value}} </p>
using template reference variables 
<input #el (keyup.enter)="handleInput1(el)" >

<p>you have entered {{val}} </p>
<input (keyup.enter)="value3=$any($event.target).value" (keyup.escape)="$any($event.target).value=''; value3=''">
{{value3}}
<h3>Two way Binding</h3>
<input [value]="name" type="text" (input)="name=$any($event.target).value">
<p>you entered {{name}}</p>
<button (click)="clearName()">Clear</button>
<br/>
ng model:- its used to achieve two way binding 
<br/>
<input type="text" name="value5" [(ngModel)]="value5">
<p>you entered {{value5}}</p>
<button (click)="clear()">clearview</button>
current count = {{count}}
<button (click)="clearCount()">Clear count</button>
<tee-counter [(count)]="count"></tee-counter>
<br/>
<tee-counter (addNewItem)="addNewItem($event)"></tee-counter>
<br/>
<br/>
<tee-media (addnewevent)="stuff($event)"></tee-media>
<ul *ngFor=" let stuff of stuffs">
    <li > {{stuff}}</li>
</ul>
<h1>Ng model an ng model changed</h1>
<input type="text" name="name" ngModel="name" (ngModelChange)="nameChanged($event)">
{{argument}}
<br>
short form
<input type="text" name="name" [(ngModel)]="name2">
<h6 *ngIf="name2"> this is:
{{name2}}
</h6>
<br>
how to use change event directive
<br>
name: <input type="text" name="name1" (change)="name1Changed($event)">
name1= {{name1}}
<br/>
country
<select name="country1" (change)="country1Changed($event)" id="">
    <option [ngValue]="null" disabled>Select Country</option>
    <option [ngValue]="country.id" *ngFor="let country of countries">{{country.name}}</option>

</select>
country selected = {{country}}

<h2> ng switch</h2>

<div class="card">
    <div class="card-header">ng Switch Example</div>
    <div class="card-body">
        input string :<input type="text" [(ngModel)] = "num" />
        <div [ngSwitch]= "num">
            <div *ngSwitchCase="'1'">One</div>
            <div *ngSwitchCase="'2'">Two</div>
            <div *ngSwitchCase="'3'">Three</div>
            <div *ngSwitchCase="'4'">Four</div>
            <div *ngSwitchCase="'5'">Five</div>
            <div *ngSwitchDefault> this is the default</div>
            

        </div>
    </div>
</div>